{% extends 'base.html' %}

{%block bodyblock %}

        <div class="container">
            <br><br>
            <h3 class="content"> Welcome to <span style="color:#198b90">F A C E A P P</span></h3>
        <br>
            <p>
                Rexxxion is a group of College Students. We're a team of Computer Science Engineers, with 
                skills in Machine learning, Deep learning, Tableau, Full stack web Development, Docker, Flutter
                development, Devops and more, working together to advance the state of the art 
                in artificial intelligence, Data Visualisation, Web Development etc. 
            </p>
        </div>
    
{% endblock  %}